@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/* FONT STYLES */
/* font-family: 'Barlow Semi Condensed', sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: var(--background-color);
}

h1 {

}

:root {
  --background-color: hsl(210, 46%, 95%);
  --violet-card: hsl(263, 55%, 52%);
  --grey-card: hsl(217, 19%, 35%);
  --blue-card: hsl(219, 29%, 14%);
  --white-card: hsl(0, 0%, 100%);
  --light-paragraph-header-color: hsl(0, 0%, 81%);
  /* --light-header-color: hsl(0, 0%, 100%); */
  --dark-paragraph-color:
    --dark-header-color:
}

/* MAIN CONTENT */
.container {
  margin: 170px 350px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-template-rows: repeat(6, 70px);
  grid-gap: 30px;
}

/* DANIEL CLIFFORD */
.daniel {
  background-color: var(--violet-card);
  border-radius: 0.5rem;
  grid-column: span 4;
  grid-row: span 3;
  padding: 2rem;
}

/* JONATHaN WALTERS */
.jonathan {
  background-color: var(--grey-card);
  border-radius: 0.5rem;
  padding: 2rem;
  grid-row: span 3;
  grid-column: span 2;
}

/* JEANETTE HARMON */
.jeanette {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--white-card);
  grid-column: span 2;
  grid-row: span 3;
  order: 3;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.507);
}

/* PATRICK ABRAMS */
.patrick {
  background-color: var(--blue-card);
  border-radius: 0.5rem;
  padding: 2rem;
  grid-column: span 4;
  grid-row: span 3;
  order: 4;
}

.kira {
  background-color: var(--white-card);
  border-radius: 0.5rem;
  padding: 2rem;
  grid-column: span 2;
  grid-row: span 6;
  /* order: 2; */
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.507);
}

/* FOOTER */
.attribution {
  margin: 0 auto;
  margin-top: -50px;
  text-align: center;
}