@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/* FONT STYLES */
/* font-family: 'Barlow Semi Condensed', sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: var(--background-color);
}



:root {
  --background-color: hsl(210, 46%, 95%);
  --violet-card: hsl(263, 55%, 52%);
  --grey-card: hsl(217, 19%, 35%);
  --blue-card: hsl(219, 29%, 14%);
  --white-card: hsl(0, 0%, 100%);
  --light-paragraph-header-color: hsl(0, 0%, 81%);
  /* --light-header-color: hsl(0, 0%, 100%); */
  --dark-paragraph-color:
    --dark-header-color:
}



/* MAIN CONTENT */
.container {
  margin: 110px 440px;
  /* margin-bottom: 10px; */
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(5, 80px) 60px;
  grid-gap: 30px;
}

.verified {
  color: var(--light-paragraph-header-color);
  opacity: 50%;
  font-size: 13px;
  margin-left: 50px;
  margin-top: -20px;
}

div.jeanette p.verified,
div.kira p.verified {
  color: var(--dark-paragraph-color);
  opacity: 50%;
  margin-left: 50px;
  margin-top: -20px;
}

.testimonials {
  color: var(--light-paragraph-header-color);
  opacity: 70%;
}

div.jeanette p.testimonials,
div.kira p.testimonials {
  color: var(--dark-paragraph-color);
  opacity: 50%;
}

h1 {
  display: inline-block;
  font-size: 15px;
  color: var(--light-paragraph-header-color);
  margin-left: 11px;
  vertical-align: top;
}

h2 {
  font-size: 1.3rem;
}

div.jeanette h1,
div.kira h1 {
  color: var(--grey-card);
  margin-left: 11px;
  vertical-align: top;
}

div.jeanette h2,
div.kira h2 {
  color: var(--grey-card);
  /* font-size: 1.4rem; */
  margin-top: 20px;
  margin-right: 7px;
}

.quotes {
  position: absolute;
  margin-left: 330px;
  margin-top: -32px;
  height: 113px;
}

/* DANIEL CLIFFORD */
.daniel {
  background-color: var(--violet-card);
  border-radius: 0.5rem;
  grid-column: span 4;
  grid-row: span 3;
  padding: 2rem;
}

.daniel-picture {
  border: 2px solid rgba(255, 255, 255, 0.500);
  border-radius: 50%;
  height: 35px;
}

div.daniel h2,
div.patrick h2,
div.jonathan h2 {
  position: relative;
  z-index: 3;
  color: var(--white-card);
  margin-top: 16px;
}

div.daniel p.testimonials {
  margin-top: 15px;
  font-size: 0.89rem;
  line-height: 1.3;
}

/* JONATHaN WALTERS */
.jonathan {
  background-color: var(--grey-card);
  border-radius: 0.5rem;
  padding: 2rem;
  grid-row: span 3;
  grid-column: span 2;
}

div.jonathan img {
  border: 2px solid rgba(255, 255, 255, 0.100);
  border-radius: 50%;
  height: 35px;
}

div.jonathan p.testimonials {
  margin-top: 15px;
  font-size: 0.89rem;
  line-height: 1.3;
}

/* JEANETTE HARMON */
.jeanette {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--white-card);
  grid-column: span 2;
  grid-row: span 3;
  order: 3;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.144);
}

div.jeanette img {
  border: 2px solid rgba(255, 255, 255, 0.500);
  border-radius: 50%;
  height: 35px;
}

div.jeanette p.testimonials {
  margin-top: 20px;
  font-size: 0.89rem;
  line-height: 1.3;
}

/* PATRICK ABRAMS */
.patrick {
  background-color: var(--blue-card);
  border-radius: 0.5rem;
  padding: 2rem;
  grid-column: span 4;
  grid-row: span 3;
  order: 4;
}

div.patrick img {
  border: 2px solid rgba(117, 65, 200, 0.87);
  border-radius: 50%;
  height: 35px;
}

div.patrick p.testimonials {
  margin-top: 19px;
  font-size: 0.89rem;
  line-height: 1.3;
}

.kira {
  background-color: var(--white-card);
  border-radius: 0.5rem;
  padding: 2rem;
  grid-column: span 2;
  grid-row: span 6;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.144);
}

div.kira img {
  border: 2px solid rgba(255, 255, 255, 0.500);
  border-radius: 50%;
  height: 35px;
}

div.kira p.testimonials {
  margin-top: 19px;
  font-size: 0.89rem;
  line-height: 1.35;
}


@media only screen and (max-width: 800px) and (min-width: 300px) {
  .container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 15% 35px;
  }

  .quotes {
    margin-left: 150px;
    height: 100px
  }
}